*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border: red 2px solid;
}
body input:required:valid,
body textarea:required:valid {
	border: green 2px solid;
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
.header_topline{
	background-color: #43484C;
	padding: 10px 0 0;
	color: #fff;
}

.header_topline a {
	color: #fff;
}

.top_links{
	display: inline-block;
	vertical-align: middle;
	z-index: 10;
	margin: 5px 0;
}

.top_links a:hover {
	text-decoration: none;
	color: yellow;
}

.top_links a {
	text-decoration: underline;
}
.soc_buttons{
	float: right;
	font-size:12px;
	margin: 0px 5px;
}

.soc_buttons a {
	margin-left: 3px;
}

.soc_buttons a:hover {
	text-decoration: none;
}
.auth_button, 
.main_menu_bt {
	border: none ;
	background-color: transparent;
	font-size: 26px;
}

.logo{
	display: block;
	padding: 5px 0;
	color: yellow;
	font-family: "DisneyParkRegular";
	font-size:48px;
	vertical-align: middle;
	text-align: left;
}

.logo:hover {
	color:red;
}

.greeting{
	display: block;
	padding: 5px 0;
	color: white;
	font-size:20px;
	vertical-align: middle;
	text-align: left;
}

.top_header{
	background-color: #31B0D5;
}

.main_menu{
	background-color: #3797BF;
	color: #fff;
	margin-top: 20px;
	margin-right: -15px;
	margin-left: -15px;
	/* border-top-left-radius:1em;*/
	/* border-top-right-radius:1em;*/
	border-radius:0.3em ;
}

.path_links{
	background-color: #3797BF;
	color: #fff;
	width: 100%;
	padding: 5px;
	border-bottom-left-radius:1em;
	border-bottom-right-radius:1em;
}

.path_links p{
	padding-top: 5px;
	margin-left: 40px;
}

.path_links a{
	color: #fff;
}

.main_menu a{
	color: #fff;
	padding: 10px  15px;
	display: block;
	-webkit-transition:all .25s ;
	-o-transition:all .25s ;
	transition:all .25s ;
}


.main_menu a:hover{
	background-color: #3779BF;
	color: yellow;
	text-decoration: none;
}

.active a:hover {
	background-color: #3779BF;
	text-decoration: none;
	border-top-left-radius:0.3em;
	border-bottom-left-radius:0.3em;
}

.main_menu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	vertical-align: middle;
	text-transform: uppercase;
}

.main_menu ul li{
	display: inline-block;

}

.main_menu_bt {
	color: #fff;
	padding: 3px 10px;
	float: left;
	vertical-align: middle;
	background-color: #3797BF;
	width: 100%;
}

section.content{
	align-content: right;
	background-color: #31B0D5;
}

.slider_container{
	position: relative;
	margin-top: 20px;
}

.slider_container img{
	width: 100%;
}

.prev_button,
.next_button {
	background-color: rgba(255,255,255,0.5);
	border-radius:10em;
	color: #31B0D5;
	font-size:30px;
	padding: 	0 20px;
	position: absolute;	
	top:40%;
	z-index: 10;
}
.next_button{
	right: 	20px;
}
.prev_button{
	left: 	20px;
}

.hidden{
	display: none;
}

.login_form h3{
	margin: 15px auto;
	color: #31B0D5;
	text-align: center;
	text-transform: uppercase;
}

.block_sidebar{
	margin-top: 20px;
	margin-bottom: 20px;
}

.header_panel{
	background-color: #3797BF;
	height: 40px;
	border: #3799BF 1px solid;
	border-bottom-right-radius:1em;
	border-bottom-left-radius:1em;
	border-top-left-radius:0.3em;
	border-top-right-radius:0.3em;

}

.title_panel{
	margin: 0px;
	padding-top: 5px;
	text-align: center;
	color: yellow;
	text-transform: uppercase;
	font-size: 20px;
	font-family: "DisneyParkRegular";
}

.body_panel{
	border: #3797BF 1px solid;
	border-bottom-right-radius:1em;
	border-bottom-left-radius:1em;
	margin: -1px 10px;
	padding: 15px;
	background-color: #fff;
}

.body_panel ul{
	list-style-type: none;
	padding-left: 5px;
}

.body_panel ul a{
	display: block;
	padding: 3px;
	padding-left: 20px;
	border-bottom: 1px dashed grey;
}

.body_panel ul a:hover {
	background-color: #3779BF;
	color: yellow;
	text-decoration: none;
	border-bottom: 1px dashed yellow;
	-webkit-transition:all .35s ;
	-o-transition:all .35s ;
	transition:all .35s ;
}

.top_search{
	margin-bottom: 10px;
}

.wrap_panel{
	margin-bottom: 30px;
}
.ad_posts {
	margin-top: 10px;
	border: #3797BF 5px solid;
	border-radius:0.3em;
	padding: 5px;
	background-color: #fff;
}
.list_posts{
	margin-top: 10px;
	border: #3797BF 5px solid;
	border-radius:0.3em;
	padding: 5px;
	background-color: #fff;
}

.post{
	border: #3797BF 1px solid;
	padding: 5px;
	background-color: #fff;
	margin-bottom: 20px;
}

.post_header{
	display: block;
	background-color: #3797BF;
	border-radius:0.1em;
	margin: 0px;
	padding: 10px;
}

.post_header h1{
	display: block;
	color: #fff;
	font-size:1.17em;
	line-height:1.37em;
	margin: 0;
	padding-left: 20px;
	padding-top: 5px;
	text-align: left;
	text-transform: uppercase;
}

.post_header a{
	text-decoration: none;
}

.post_header a h1:hover{
	color: yellow;
	text-decoration: underline;
}

.post_content{
	display: block;
	margin: 20px;
}
.post_image{
	display: block;
	float: left;
}
.post_image img{
	max-width: 250px;
	max-height: 200px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.post_text{
	display: block;
}

.post_metainfo{
	border: #3797BF 2px solid;
}

.post_metainfo ul{
	display: inline-block;
	margin: 0 15px;
	padding: 0;
}

.post_metainfo li{
	display: block;
	float: left;
	margin: 0 auto;
	font-size: 0.85em;
	line-height: 2.1em;
}

.post_metainfo li span{
	padding-right: 10px;
	padding-left: 10px;
}

.post_category{
	display: block;
	margin: 5px auto;
	border-bottom: #31B0D5 1px solid ;
	text-align:right;
	width: 95%;
}
.post_category img{
	margin-left: 10px;
}

.pag_block{
	background-color: #fff;
	border: 5px solid #3797BF;
	border-radius: 45px;
	margin: 10px auto;
	padding: 0;
}

.pages {
	display: block;
	margin: 5px auto;
	width: 98%;
	border: 1px solid grey;
	border-radius: 35px;
}

.wraper_ul{
	display: block;
	margin: 0 auto ;
	vertical-align: middle;
	text-align: center;
}

.pages ul{
	padding: 0;
	margin: 0 auto;
	display: inline-block;
}

.pages ul li{
	display: block;
	float: left;
	padding: 5px;
	margin: 0 auto;
}


.pages ul li a{
	display: block;
	background-color: #43484C;
	padding: 10px;
	text-align: center;
	color: #fff;
	border: 3px solid grey;
	font-size: 18px;
	width: 50px;
}

.pages ul li a.first {
	display: block;
	background-color: #43484C;
	padding: 10px;
	text-align: center;
	color: #fff;
	border: 3px solid grey;
	font-size: 18px;
	width: 50px;
	border-top-left-radius:25px ;
	border-bottom-left-radius:25px ;
	border-top-right-radius:0px ;
	border-bottom-right-radius:0px ;
}

.pages ul li a.end {
	display: block;
	background-color: #43484C;
	padding: 10px;
	text-align: center;
	color: #fff;
	border: 3px solid grey;
	font-size: 18px;
	width: 50px;
	border-top-left-radius:0px ;
	border-bottom-left-radius:0px ;
	border-top-right-radius:25px ;
	border-bottom-right-radius:25px ;
}



.pages ul li a:hover{
	text-decoration: none;
	color: yellow;
	background-color:#000;
	border: 3px solid yellow;
}

.footer_topline{
	background-color: #43484C;
	padding: 10px 0;
	color: #fff;
	min-height: 30px;
}

.footer_left_block{
	float: left;
}

.footer_center_block{
	text-align: center;
}

.footer_right_block{
	float: right;
}

.footer_bottomline{
	background-color: #43484C;
	padding: 10px 0;
	color: #fff;
	min-height: 20px;
	text-align: center;
	border-top: 1px dashed #fff
}

.footer_bottomline span {
	font-size: 14px;
}