/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.logo_text{
		display: block;
		float: left;
		margin-top: -55px;
		width: 705px;
		height: 250px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.logo_text{
		display: block;
		float: left;
		margin-top: -55px;
		width: 485px;
		height: 250px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.logo_text{
		display: block;
		float: left;
		margin-top: 0px;
		width: 250px;
		height: 250px;
	}

	.top_links{
		display: none;
		background-color: #585d61;
		padding: 10px;
		vertical-align: middle;
		position: absolute;
		width: 320px;
		margin-left:-22px;
		margin-top: 1px;
	}
	.main_menu ul{
		display: none;
		position: absolute;
		margin-top: 40px;
		background-color: #3797BF;
		z-index: 11;
		width: 100%;
	}

	.main_menu ul li{
		display: block;
		float: none;
		background-color: #3797BF;
		z-index: 10;
	}

	.greeting{
		text-align: center;
	}
	.logo_title{
		text-align: center;
	}
	.logo_img{
		text-align: center;
	}
	
}
/* Для настройки отображения логотипа */
@media only screen and (max-width : 545px) {

	.main_menu ul li{
		background-color: #3797bf;
		display: block;
		float: none;
		margin-left: 10px;
		z-index: 10;
	}

	.logo_text{
		display: block;
		float: left;
		margin-top: 0px;
		width: 100%;
		height: 250px;
	}

	.greeting{
		text-align: center;
	}
	.logo_title{
		text-align: center;
	}
	.logo_img{
		width: 100%;
		text-align: center;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.logo_text{
		display: block;
		float: left;
		margin-top: 0px;
		width: 100%;
		height: 250px;
		margin: 0 auto;
	}

	.greeting{
		text-align: center;
	}
	.logo_title{
		text-align: center;
	}
	.logo_img{
		width: 100%;
		text-align: center;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.post_image img{
		max-width: 230px;
		max-height: 200px;
		margin-right: 20px;
		margin-bottom: 20px;
	}

	.post_metainfo li{
		display: block;
		float: none;
		margin: 0 auto;
		font-size: 0.85em;
		line-height: 2.1em;
	}
}




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.top_links{
		display: inline-block !important;
	}
	.main_menu ul{
		display: inline-block !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}